<h3> Assign Candidates to users </h3>

<%= form_tag(assign_path, method: :post) do %>

	<%= select_tag(:user_id, options_for_select(@users.collect{ |u| [u.first_name, u.id]})) %>

	<%= select_tag 'candidates_id[]', options_from_collection_for_select(@candidates, 'id', 'name'), multiple: true %>

	<!-- <div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <script type="text/javascript">
          $(function () {
            $('#datetimepicker1').datetimepicker();
          });
      </script>
    </div>
	</div>
 -->

	<div class="actions">
    <%= submit_tag "assign" %>
  </div>

<% end %>