<h1> Schedule Interview for Candidate </h1>

<%= form_for('#', method: :post) do %>
	
	Select Candidate: 
	<%= select_tag(:candidate_id, options_for_select(@candidates.collect{ |u| 
		[u.name, u.id]})) %>

	Select Recuriter: 
	<%= select_tag(:user_id, options_for_select(@users.collect{ |u| 
		[u.first_name, u.id]})) %>

	Select Interview Date: 
	<%= datetime_select %>
	
<% end %>