<h1> List of Candidates </h1>

<table border="1" style="width:50%">
	<tr>
		<th> Candidate Name </th>
		<th> Candidate Email </th>
		<th> Candidate Number </th>
		<th> Profile Link </th>
	</tr>

	<% @candidates.each do |candidate| %>
		<tr>
			<td> <%= candidate.name %> </td>
			<td> <%= candidate.email %> </td>
			<td> <%= candidate.phone %> </td> 
			<td> <%= link_to "Profile", candidate_path(id: candidate.id) %> </td>		
		</tr>
	<% end %>
</table>
