<h1> List of Candidates </h1>

<table border="1" style="width:50%">
	<tr>
		<td> Candidate Name</td>
		<td> Candidate Email</td>
		<td> Candidate Number</td>
		<td> Profile Link </td>
	</tr>

	<% @candidates.each do |candidate| %>
		<tr>
			<td> <%= candidate.name %> </td>
			<td> <%= candidate.email %> </td>
			<td> <%= candidate.phone %> </td> 
			<td> <%= link_to "Profile", candidate_path(id: candidate.id) %> </td>		
		</tr>
	<% end %>
</table>
