<h1> List of Candidates </h1>

	<% @candidates.each do |candidate| %>
		<li> <%= candidate.name %> 	<%= candidate.email %> <%= candidate.phone %> 
		<%= link_to "Profile", candidate_path(id: candidate.id) %>
		</li>
	<% end %>
