<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<p>
			Hi <%= @interview.user.first_name %>,</br>
		</p>
		<p>
			Interview is Schedule for you.
		</p>
	</body>
</html>