<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<p>
			Hi <%= @interview.user.first_name %>,</br>
		</p>
		<p>
			An Interview is Scheduled. Candidates name is <%= @interview.candidate.name %> and interview date and time is <%= @interview.dateandtime %>
		</p>
	</body>
</html>